.user-profile-card {
    text-align: center;
}
.user-profile-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: 30px;
    border-radius: 4px;
    
}
/* CSS to decrease the size of the navigation profile picture */
#navbar-profile-pic {
    margin-top: 10px;
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
}
